main {
    flex-grow: 1;
    padding: 20px;
    transition: margin-left 0.3s ease, padding-left 0.3s ease;
    margin-left: 50px;
  }
  
  #main-content {
    flex: 1;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
    box-sizing: border-box;
    height: 100vh;
  }
  
  #dashboard-section {
    margin-top: 40px;
  }
  
  .dashboard-container {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .dashboard-title h2 {
    font-size: 24px;
    color: #009FEA;
  }
  
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .title-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  
  .title-content h3 {
    font-size: 20px;
    color: #F47122;
    margin: 0;
    padding-left: 20px;
  }
  
  .date-time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: #F47122;
    text-align: right;
    padding-right: 20px;
  }
  
  .date-time i {
    justify-content: space-between;
    margin-right: 10px;
  }
  
  .date-time p {
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .account-profile {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 30px;
  }
  
  .profile-header {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
  }
  
  .profile-header .header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .profile-container {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .profile-picture {
    flex-shrink: 0;
    margin-right: 20px;
  }
  
  .profile-picture img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile-details {
    flex-grow: 1;
  }
  
  .profile-details h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #333;
  }
  
  .profile-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.9em;
    color: #666;
  }
  
  .profile-info .employee-id {
    background-color: #ffa500;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
  }
  
  .profile-info .position {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .profile-info .position::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: cover;
    background-image: url('path/to/location-icon.png');
  }
  
  .edit-button {
    margin-left: auto;
    padding: 5px;
  }
  
  .edit-button button {
    background: none;
    cursor: pointer;
    border: 1px solid #103955;
    padding: 8px;
    border-radius: 5px;
  }
  
  .edit-button i {
    width: 24px;
    height: 24px;
  }
  
  /* INFO DETAILS */
  .info-details {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    max-width: 100%;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .info-details h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #009FEA;
    text-align: left;
    padding: 20px;
  }
  
  .info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .label {
    margin-left: 30px;
    font-weight: bold;
    color: #103955;
    flex: 10% 0 40%;
    text-align: left;
  }
  
  .value {
    color: #666;
    flex: 0 0 80%;
    text-align: left;
  }
  
  /* MODAL */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    position: relative;
    border-radius: 5px;
  }
  
  .close {
    color: #aaa;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    margin: 5px;
    height: 30px;
    width: 30px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-content h2 {
    padding: 20px;
    font-size: 15px;
    color: #009FEA;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .form-group {
    flex: 1;
    margin: 5px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .form-buttons {
    display: flex;
    justify-content: right;
    padding: 10px;
  }
  
  .form-buttons button {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    color: #fefffe;
    background-color: #009FEA;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }

  
  #saveChangesBtn:hover{
    background-color:#0056b3; 
  }

  #closeModalBtn{
    background-color:#888;
  }

  #closeModalBtn:hover{
    background-color:#cc0000 ;
  }
  
  input:invalid::before {
    content: "⚠️";
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  input:invalid::after {
    content: attr(title);
    position: absolute;
    background-color: #e74c3c;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    top: 100%;
    left: 0;
    transform: translateY(10px);
    white-space: nowrap;
    z-index: 1000;
  }
  
  input:invalid:focus::after {
    display: block;
  }
  
  input:invalid:focus::before {
    display: block;
  }
  
  input:invalid {
    border: 2px solid #e74c3c;
  }
  
  input:invalid:focus {
    outline: none;
    box-shadow: none;
  }
  
  .invalid-feedback {
    display: none;
    color: #e74c3c;
    font-size: 0.9em;
  }
  
  input:invalid ~ .invalid-feedback {
    display: block;
  }
  
  input:invalid {
    border: 2px solid #e74c3c;
  }
  
  
  #gender {
    width: 102%;
      padding: 10px;
      font-size: 16px;
      color: #333;
      border: -1px solid #333;
      appearance: none; 
      -webkit-appearance: none; 
      -moz-appearance: none; 
      background-image: url("data:image/svg+xml;utf8,<svg fill='%23333' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
      background-repeat: no-repeat;
      background-position: right 10px top 50%;
  }