/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #f5f5f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }

/* Header Styles */
header {
    height: 60px;
    background-color: #009FEA;
    color: #fff;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3000;
     }

.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header h1 {
    color: #1845A2;
    font-size: 20px;
    text-shadow: #009FEA;
}

.left-header span {
    color: #F47122;
}

.left-header {
    display: flex;
    align-items: center;
}

.logo {
    height: 30px;
    margin-right: 10px;
}

#profile-icon-container {
    display: flex;
    align-items: center;
    gap: 10px; 
}

#profile-icon {
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
}

h2 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.profile-dropdown a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

.profile-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    top: 50px; 
    right: 9px;
    width: 150px;
    z-index: 10;
}
.profile-dropdown a:hover {
    background-color: #f2f2f2;
}

.profile-icon:hover .profile-dropdown {
    display: block;
}

.profile-icon a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    gap: 9px;
    margin-top: 1px;
}

.profile-icon img {
    height: 30px;
    border-radius: 50%;
}

.profile-icon a:hover {
    color: #007bff; 
}

.initials-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #007bff; 
    color: white;
    border-radius: 50%;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}
/* Navbar Styles */
.navbar{
    top: 0;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 50px;
    z-index: 2000;
    bottom: 0;
}

.navbar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    padding: 20px 0;
    height:100vh;
    background-color: #FFFFFF;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1000;
}

.nav-icons {
    list-style: none;
    padding: 0;
    margin: 10px;
    width: 100%;
}

.nav-icons li {
    margin: 8px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}


.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    /* background-color: #e0e0e0; */
}

.icon-container i {
    font-size: 20px;
    color: #FE8926;
}


/* Active state for the icon */
.icon-container i.active {
    background-color: #103955; 
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container:hover {
    background-color: #FE8926; 
}

.icon-container:hover i {
    color: #FFFFFF;
}

.icon-container.active {
    background-color: #FE8926;
}

.icon-container.active i {
    color: #FFFFFF; 
}


.profile-settings {
    margin-top: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.profile-settings .profile-pic {
    height: 30px;
    border-radius: 50%;

}

.profile-settings i {
    font-size: 20px;
}

.profile-settings .icon-container {
    margin-bottom: 10px;
}

.nav-logo {
    height: 30px;
    margin: 10px;
}

.logo-container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #E9ECF4;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    transition: background-color 0.3s ease;
}

.logo-container:hover {
    background-color: #e9ecef;
}

.logo-container i {
    font-size: 20px;
}

/* Extra Sidebar Styles */
.extra-sidebar {
    position: fixed;
    left: 50px;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: #FFFFFF;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1500;
    height: 100vh;
}

.extra-sidebar.active {
    transform: translateX(0);
}


.icon-container.active {
    background-color: #FE8926; 
}

.icon-container.active i {
    color: #FFFFFF; 
}

/* Hover effect for corresponding sidebar items */
.extra-sidebar ul li a.hovered {
    background-color: #E9ECF4; 
    color: #FE8926;
}


.sidebar-content {
    padding: 20px;
    margin-top: 60px;
}

.sidebar-title {
    display: flex;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative; 
}

.sidebar-title h3 {
    margin: 0; 
    padding: 5px;
    font-size: 16px;
    color: #FE8926;
    font-weight: bolder;
}

.sidebar-title i {
    margin-left: 80px;
    font-size: 23px; 
    color: #FE8926; 
    justify-content: center;
    right: 0;
    text-align: right;
}


.sidebar-content ul {
    list-style: none;
    padding-left: 0;
}

.sidebar-content ul li {
    font-size: 14px;
    list-style: none;
    margin: 8px 0;
}

.extra-sidebar ul {
    list-style-type: none;
    padding-left: 0;
    margin-top:5px;
}

.logout:hover{
    color:red;
}


/* Maintain hover state on sidebar items */
/* Default Sidebar Link Styling */
.extra-sidebar ul li a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 6px;
}

/* Hover Effect */
.extra-sidebar ul li a:hover,
.extra-sidebar ul li a.active { 
    background-color: #ededed;
    color: #FE8926;
    font-weight: bold;
}

/* Optional: Change Icon Color on Hover */
.extra-sidebar ul li a:hover i,
.extra-sidebar ul li a.active i {
    color: #fff;
}

/* Search Container Styles  */
.search-container {
    width: 400px; 
    display: flex;
    align-items: center;
    position: relative;
    justify-content: right;
    float: right; 
    margin-left: 550px;
}

.search-container i {
    position: absolute;
    left: 10px;
    font-size: 16px;
    color: #888;
}

#sidebar-search {
    width: 100%;
    padding: 5px 10px;
    padding-left: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
    font-size: 14px;
    outline: none;
}


.search-results {
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: white;
    /* border: 1px solid #ddd; */
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    z-index: 10;
    margin-top: 5px;
}

.search-result-item {
    padding: 10px;
    cursor: pointer;
}

.search-result-item a {
    text-decoration: none;
    color: #333;
}

.search-result-item:hover {
    background-color: #f0f0f0;
}
/* Additional CSS for the dropdown */


.dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px; 
    color: #333;
}

.more-dropdown-menu {
    display: none;
    width:220px; 
    position: absolute;
    left: 250px; 
    top: 225px; 
    background-color: #FFFFFF; 
    z-index: 1600; 
    opacity: 0; 
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.more-dropdown-active {
    display: block;
    opacity: 1; 
    transform: translateY(0); 
}

.more-dropdown-menu li a {
    font-size: 14px; 
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    display: block;
}

.more-dropdown-menu li a:hover {
    background-color: #f0f0f0; /
}

.bi-chevron-right {
    transition: transform 0.3s ease;
}

.more-dropdown-active .bi-chevron-right {
    transform: rotate(90deg);
}

.navbar-divider {
    width: 100%;
    height: 2px;
    background-color: #009FEA;
    margin: 5px;
}


.status-approved {
    color: whitesmoke;
    background: #87ab69;
    border-radius: 5px;
    font-size: 12px;
    padding: 4px
}
.status-declined {
    color: whitesmoke;
    background: #f94449;
    border-radius: 5px;
    font-size: 13px;
    padding: 4px
}
.status-pending {
    color: whitesmoke;
    background: orange;
    border-radius: 5px;
    font-size: 13px;
    padding: 4px
}

.emp-dropdown-toggle,.archives-dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px; 
    color: #333;
}

.emp-dropdown-menu{
    display: none;
    width:220px; 
    position: absolute;
    left: 250px; 
    top: 274px; 
    background-color: #FFFFFF;
    z-index: 1600; 
    opacity: 0; 
    transform: translateY(-10px); 
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); 
}
.archives-dropdown-menu {
    display: none;
    width:220px; 
    position: absolute;
    left: 250px; 
    top: 574px; 
    background-color: #FFFFFF;
    z-index: 1600; 
    opacity: 0; 
    transform: translateY(-10px); 
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.emp-dropdown-active,.archives-dropdown-active {
    display: block;
    opacity: 1;
    transform: translateY(0); 
}

.emp-dropdown-menu li a,.archives-dropdown-menu li a {
    font-size: 14px; 
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    display: block;
}

.emp-dropdown-menu li a:hover,.archives-dropdown-menu li a:hover {
    background-color: #f0f0f0; 
}

.emp-dropdown-active .bi-chevron-right,.archives-dropdown-active .bi-chevron-right {
    transform: rotate(90deg);
}

.pending-dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px; 
    color: #333;
}

.pending-dropdown {
    display: none;
    width:220px; 
    position: absolute;
    left: 250px; 
    top: 326px; 
    background-color: #FFFFFF; 
    z-index: 1600;
    opacity: 0;
    transform: translateY(-10px); 
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); 
}

.pending-dropdown-active {
    display: block;
    opacity: 1; 
    transform: translateY(0);
}

.pending-dropdown li a {
    font-size: 14px;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    display: block;
}

.pending-dropdown li a:hover {
    background-color: #f0f0f0;
}

.pending-dropdown-active .bi-chevron-right {
    transform: rotate(90deg);
}


.navbar-divider {
    width: 100%;
    height: 2px;
    background-color: #009FEA;
    margin: 5px;
}


.profile-content {
    position: absolute;
    bottom: 0;
    width: 85%;
    margin-right: 30px;
    margin-bottom: 10px;
}

.profile-content ul {
    list-style: none;
    margin: 0;
    bottom: 0;
    text-align: left;
}

.profile-content ul li {
    font-size: 14px;
    list-style: none;
    margin: 6px 0;
}

.profile-content ul li a {
    padding-top: 15px;
    display: block; 
    text-decoration: none;
    color: #009FEA; 
    border-radius: 4px;
    transition: background-color 0.3s ease; 
}

.profile-content ul li a:hover {
    background-color: #E9ECF4;
    color: #FE8926;
}


footer {
    background-color: #eceef1;
    /* border-top: 1px solid #ddd; */
    padding: 5px;
    text-align: center;
    /* box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); */
    margin-top: auto; 
    transition: margin-left 0.3s ease, width 0.3s ease;
    margin-left: 50px;
    z-index: 1000;
}


.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin: 0;
    font-size: 1em;
    color: #666;
}

.footer-content a {
    color: #007bff;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
    color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;   
}

#pending-count , #notification-counts {
    position: absolute;
    right: 3px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 12px;
    font-weight: bold;
    margin-top: -19px;
}
#pending-counts{
    position: absolute;
    right: 110px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 12px;
    font-weight: bold;
    /* margin-top: -22px; */
}


/* sent docs modal */
.custom-swal-width {
    max-width: 80vw; 
    width: 80vw;
    height: 90vh; 
    margin-top: 44px;
    overflow: auto; /* Enable scrolling if content overflows */
}

.custom-title {
    margin-bottom: 10px; 
}

.custom-content {
    text-align: left;
    margin-top: px;
    font-size: 1em;
    line-height: 1.5;  
}


.custom-actions-position {
    justify-content: flex-end; 
    margin-right: 10px; 
    position: absolute; 
    bottom: 10px; 
    right: 10px; 
    width: calc(100% - 20px); 
}

.custom-confirm-button {
    background-color: #007bff; 
    color: white;
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
}

.custom-confirm-button:hover {
    background-color: #0056b3; 
}

tbody td {
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size:14px;
}

thead th {
    border: none;
    padding: 8px;
    font-size:14px;   
}

thead tr{
    background-color: #ffa652;
}

th, td {
    border: 1px solid #dddddd;
    /* color:#56647f; */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    font-family: 'Poppins';
}

tbody tr {
    border-bottom: 3px solid #d7d7d7; 
}

tbody tr:last-child {
    border-bottom: 3px solid #d7d7d7; 
}

th {
    background-color: #d3d3d3;
}




@media (max-width: 576px) {
    .search-container {
        display: none;
    }
}

@media (max-width: 768px) { 
    .search-container {
        display: none;
    }
    
 }

@media (max-width: 992px) { 
    .search-container {
        /* Adjust width as needed */
        display: flex;
        position: relative;
        margin-right: 30px; 
    }    
 }

@media (max-width: 1200px) { 
    .search-container {
        /* Adjust width as needed */
        display: flex;
        position: relative;
        margin-right: 30px; 
    }      
 }

@media (max-width: 1400px) { }












































