
main {
    flex-grow: 1;
    padding: 8px;
    margin-left: 28px;
}

#main-content {
   flex: 1; /* Allows main content to grow and fill available space */
    margin-left: 250px; /* Adjust based on the sidebar width */
    transition: margin-left 0.3s ease;
    height: 100vh;
    box-sizing: border-box; /* Include padding in width/height calculation */

}

.left-content{
    display: flex;
    padding: 20px;
}


/* Memorandum Container */
.memorandum-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fefffe;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

/* Title Styles */
.memorandum-title h1 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #009FEA;
    margin: 0;
    padding-left: 20px;
}

/* Search Bar Styles */
.memorandum-search-bar {
    display: flex;
    flex: 1; /* Make search bar flexible */
    margin-right: 10px; /* Add space between search bar and option */
}

/* Search Text Input */
.search-text {
    background-color: #DDDDDD;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    padding: 5px;
    flex: 1;
    border-radius: 5px 0 0 5px;
    height: 30px; /* Set the height to match the icon */
}

/* Icon */
.icon {
    background-color: #DDDDDD;
    border-radius: 0 5px 5px 0;
    padding: 5px;
    height: 30px; /* Set the height to match the search text */
    display: flex;
    align-items: center; /* Center the icon vertically */
    justify-content: center; /* Center the icon horizontally */
}


/* Option Select */
.memorandum-option {
    display: flex;
    align-items: center;
    flex-shrink: 0; /* Prevent shrinking */
}

#category-filter {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
}

/* Dashboard Section */
#dashboard-section {
    margin-top: 40px;
}

.dashboard-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: space-between; 
}

.documents {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Document Styles */
.document {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33% - 9px);
    display: block;
    position: relative;
}


.file-container {
    height: 100px;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin-bottom: 10px;
}

.document-description h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    margin-right: auto;
}

.document-description p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}


.dropdown-toggle {
    cursor: pointer;
    color: #666;
}

.dropdown-more {
    display: none;
    position: absolute;
    top: 132px;
    right: -70px;
    background-color: #fefffe;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    padding: 10px 0;
}

.dropdown-more a {
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    color: #5B5B5D;
    font-size: 14px;
}

.dropdown-more a:hover {
    background-color: #DDDDDD;
}

.dropdown-toggle:hover + .dropdown-more,
.dropdown-more:hover {
    display: block;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.column.left {
    flex: 1;
}

.column.right {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.column.right a {
    text-decoration: none;
    /* color: #007bff; */
    position: relative;
}

/* .column.right a:hover {
    text-decoration: underline;
} */

.document-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height: 100px;
}



/* Responsive Adjustments */
@media (max-width: 768px) {
    .document {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .document {
        width: calc(100% - 20px);
    }
}