main {
    flex-grow: 1;
    padding: 20px;
    transition: margin-left 0.3s ease, padding-left 0.3s ease;
}
#dashboard-content {
    flex: 1;
    margin-left: 50px;
    transition: margin-left 0.3s ease;
    box-sizing: border-box;
    height: 100vh;
}

#dashboard-section {
    height: 100vh;
    width: auto;
    margin-top: 40px;
}
.dashboard-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dashboard-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.dashboard-title h2 {
    font-size: 24px;
    color: #009FEA;
}


.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.title-content h3 {
    font-size: 20px;
    color: #F47122;
    margin: 0;
    padding-left: 20px;
}

.date-time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: #F47122;
    text-align: right;
    padding-right: 20px;
}

.date-time i{
    justify-content: space-between;
    margin-right: 10px;
}

.date-time p {
    justify-content: center;
    align-items: center;
    margin: 0;
}
.approved {
    color: green;
}
.pending {
    color: red;
}


.review-icon i {
    cursor: pointer;
    font-size: 19px;
    padding-left: 10px;
    padding-right: 10px;
    
    border-radius: 5px;
    background-color: #FFA500;
    transition: background-color 0.2s ease;
}

.approve-btn {
    background-color: #87ab69;
    color: #fff;
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding: 0.4rem 1rem;
    font-size: 13px;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.approve-btn:hover {
    background-color: #218838; 
}

/* Styling for the decline button */
.decline-btn {
    background-color: #f94449;
    color: #fff;
    border: none;
    padding: 0.4rem 1rem;
    font-size: 13px;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.decline-btn:hover {
    background-color: #c82333;
}

