@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.bg-blue-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(0 159 234 / var(--tw-bg-opacity));
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 520px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.reset-bg-blue-500 {
    width: 100%;
    height: 590px;
    background-color: #009FEA;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.reset-bg-blue-500 img {
    width: 100%;
    height: 590px;
    object-fit: cover;
}

.forgotpass-container {
    display: flex;
    max-width: 1200px;
    height: 600px;
    /* background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    border-radius: 1rem;
    overflow: hidden;
}

.form-container{
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.form {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
}

.form-container h1 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.form-container .form-group {
    margin-bottom: 20px;
}

.form-container .form-group label {
    display: block;
    margin-top: 30px;
}

.form-container .form-group input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container .form-group input[type="email"]:focus {
    outline: none;
    box-shadow: 0 0 2px 1px #009FEA;
}

.form-container button[type="submit"] {
    background-color: #009FEA;
    color: #fff;
    padding: 9px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 10rem;
    display: grid;
    margin-top: 55px;
    text-align: center;
    justify-content: center;
    margin-left: 6rem;
}

.button{
   justify-content: center;
   margin-left: 2rem;
}

.form-container button[type="submit"]:hover {
    background-color: #1845A2;
    
}

.reset-pass-container {
    display: flex;
    /* width: 80%; */
    max-width: 900px;
    height: 690px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    justify-content: center;
    /* position: relative; */
}

.reset-form-container {
    width: 100%;
    /* padding: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    margin-right: 20px;
    position: relative;
    /* top:0;
    left:0;
    width: 50%;
    height: 100%; */
}

.reset-form-container h1 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 7px;
}

.reset-form-container p {
    text-align: center;
    margin-bottom: 10px;
}

.reset-form-container .form-group {
    margin-bottom: 20px;
}

.reset-form-container .form-group label {
    display: block;
    margin-top: 10px;
}

.reset-form-container .form-group input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.reset-form-container .form-group input[type="email"]:focus {
    outline: none;
    box-shadow: 0 0 2px 1px #009FEA;
}

.reset-form-container button[type="submit"] {
    background-color: #009FEA;
    color: #fff;
    font-size: 15px;
    padding: 9px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 10rem;
    display: block;
    margin-top: 50px;
    text-align: center;
    margin-left: 6rem;
}

.reset-form-container button[type="submit"]:hover {
    background-color: #1845A2;
}


input[type="email"]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.links {
    margin-top: 10px;
    text-align: center;
}

.links a {
    color: #009FEA;
    text-decoration: none;
    margin: 0 5px;
}

.image-container {
    width: 50%;
    background-size: cover;
    background-position: center;
    height: 100%;
    order: 1;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}