/* Main Section */
main {
    flex-grow: 1;
    padding: 20px;
    transition: margin-left 0.3s ease, padding-left 0.3s ease;
}


/* Home Section */
#home-section {
    margin-left: 50px;
    transition: margin-left 0.3s ease;
    padding: 30px 30px 30px;
}


.welcome-section {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #609DF6;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.welcome-message h2 {
    font-size: 28px;
    color: #FFFFFF;
}

.welcome-message p {
    font-size: 16px;
    color: #D9E1F2;
}


.dashboard-overview {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}
/*
.dashboard-card {
    flex: 1;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.dashboard-card ul {
    list-style-type: none;
    padding: 0;
}

.dashboard-card ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.dashboard-card ul li:last-child {
    border-bottom: none;
}

.dashboard-card ul li a {
    text-decoration: none;
    color: #007bff;
}

.dashboard-card ul li a:hover {
    text-decoration: underline;
}

.dashboard-card ul li {
    font-size: 1em;
    color: #555;
}
    */

.current-time {
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.current-time h3 {
    font-size: 2em;
    color: #F47122;
    margin-bottom: 10px;
}

.current-time p {
    font-size: 1.2em;
    color: #666;
}
/*shortcuts*/
.shortcuts {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* padding: 20px; */
}

.container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.square {
    flex: 0 0 20%; 
    height: 100px;
    display: flex;
    align-items: center; 
    padding: 10px;
    justify-content: flex-start; 
    border-radius: 10px;

}

.square img {
    width: 30%; 
    height: auto;
    margin-right: 10px; 
    cursor: pointer;
    padding-left: 20px;
    
}

.square p {
    margin: 0;
    font-size: 13px;
    color: #333;
    font-weight: 600;
}

/* Keep the rectangle container size */
.rectangle {
    flex: 1; 
    height: 100px; 
    padding: 10px;
}

.container.square:hover {
    background-color: #E9ECF4;
    cursor: pointer;
}





/*NOTIFICATIONS*/

#notifications {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    height: 100px; /* Adjust the height as needed */
}

.notification-content {
    height: calc(100% - 40px); /* Adjust for header and padding */
    overflow-y: auto;
    padding-right: 10px; /* To prevent scrollbar from overlapping content */
}

.rectangle h4{
    font-size: 13px;
    padding: 5px;
}

.notification-list {
    padding-left: 10px;
    padding-right: 10px; /* To prevent scrollbar from overlapping content */
}

.notification-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3px;
    cursor: pointer;

}

.notification-item:hover {
    background-color: #E9ECF4;
    cursor: pointer;
}
.notification-item:last-child {
    border-bottom: none;
}

.profile-icon-notif {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.notification-content-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.sender-name {
    font-weight: bold;
    margin-right: 20px;
}

.document-title {
    font-size: 14px;
    color: #555;
    margin-right: 10px;
}

.mail-icon {
    font-size: 20px;
    margin-left: auto;
    color: #555;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.title-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.title-content h3 {
    font-size: 20px;
    color: #fd7e14;
    margin: 0;
    padding-left: 20px;
}

.date-time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: #fd7e14;
    text-align: right;
    padding-right: 20px;
}

.date-time i{
    justify-content: space-between;
    margin-right: 10px;
}

.date-time p {
    justify-content: center;
    align-items: center;
    margin: 0;
}


/* Document Section */
/* .documents {
    width: calc(33.333% - 20px); 
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.documents-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.document-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height: 263px;
}


.content {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.column.left {
    flex: 1;
}

.column.right {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.column.right a {
    text-decoration: none;
    /* color: #007bff; 
    position: relative;
}

.dropdown-more {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    z-index: 100;
}

.dropdown-more a {
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    color: #5B5B5D;
    font-size: 14px;/
} */

/* Document Section */
#dashboard-section {
    margin-top: 40px;
}

.dashboard-container {
    padding: 20px;
    border-radius: 10px;
}

.documents {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Document Styles */
.document {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33% - 20px);
    display: block;
    position: relative;
}

.document:hover {
    /* transform: scale(1.02);  */
    background-color: #E9ECF4;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    background-color: #f5f5f5; 
}


.file-container {
    height: 100px;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin-bottom: 10px;
}

.document-description h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    margin-right: auto;
}

.document-description p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}


.dropdown-toggle {
    cursor: pointer;
    color: #666;
}

.dropdown-more {
    display: none;
    position: absolute;
    bottom:-8%;
    right: -70px;
    background-color: #fefffe;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    padding: 10px 0;
    margin-bottom: 10px;
}

.dropdown-more a {
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    color: #5B5B5D;
    font-size: 14px;
}

.dropdown-more a:hover {
    background-color: #DDDDDD;
}

.dropdown-toggle:hover + .dropdown-more,
.dropdown-more:hover {
    display: block;
}


.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.column.left {
    flex: 1;
}

.column.right {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.column.right a {
    text-decoration: none;
    color: #007bff;
    position: relative;
}

.column.right a:hover {
    text-decoration: underline;
}

.document-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height: 100px; 
}


.upload-date {
    font-size: 0.9em;
    color: #666;
}

.upload-date p {
    margin: 0;
}

/* Dropdown */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}

/* Forward fucntion */
.employee-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.employee-name {
    text-align: left;
}

.send-btn {
    background-color:#009FEA;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.send-btn:hover {
    background-color: #009FEA;
}

.custom-cancel-button {
    background-color: #ff4d4d !important; 
    color: white !important; 
    border: none !important;  
}

.custom-cancel-button:hover {
    background-color: #ff1a1a !important;  
}



/* Responsive */

@media (max-width: 576px) {
    .shortcuts {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    

    .square img {
        width: 80%; /* Adjust width for smaller screens */
    }

    .square p {
        display: none;
    }

    .rectangle{
        height: 100px; 
        padding: 5px;
    }

    #notifications {
        padding: 5px;
    }
    .sender-name{
        display: none;
    }
    .notification-content-item span{
        font-size: 10px;
    }
    .notification-item{
        background-color: #ffffff;
    }

    .title-content h3 {
        font-size: 10px;
    }

    .date-time i{
        font-size: 10px;
    }
    .date-time p{
        font-size: 10px;
    }
}


@media (min-width: 768px) and (max-width:991px) { 
    /*shortcuts*/
.shortcuts {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.square img {
    width: 80%; 
    height: auto;
    cursor: pointer;
    
}

.square p {
    display: none;
}

.rectangle {
    flex: 1; 
    height: 100px; 
    padding: 10px;
}

#notifications {
    padding: 5px;
}

.notification-content-item .document-title, .sender-name{
    font-size: 15px;
}

 }

@media (min-width: 992px) and (max-width:1999) { 
    .square img{
        width: 70%;
    }

    .notification-content-item .document-title, .sender-name{
        font-size: 15px;
    }



}

@media (max-width: 1200px) {

 }