main {
    flex-grow: 1;
    padding: 20px;
    margin-left: 50px;
    transition: margin-left 0.3s ease, padding-left 0.3s ease;
}
#main-content {
    flex: 1;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
    box-sizing: border-box;
    height: 100vh;
}

.email-list {
    width: 100%;
    table-layout: fixed;  /* Forces columns to respect their width */
    border-collapse: collapse;
}

.email-list th, .email-list td {
    padding: 10px;
    text-align: left;
}
.email-list th {
    font-weight: bold;
    /* background-color: transparent; */
    font-size: 14px;
    border: none;
}

.email-list td.sender {
    text-align: left; 
}
.email-list td.receiver {
    text-align: left;
}


.email-list .email-item {
    font-size: 15px;
    display: table-row;
}

.email-list .checkbox, .email-list .sender, .email-list .receiver, .email-list .subject, .email-list .document-name, .email-list .date, .email-list .email-actions {
    display: table-cell; /* Ensures cells align within the row */
    padding: 10px; /* Consistent padding for cells */
}

.email-list .email-actions a {
    cursor: pointer;
}

.checkbox, .sender, .receiver, .document-name, .date, .email-actions {
    width: auto;
}
.email-list th:nth-child(1), .email-list td:nth-child(1) {
    width: 3%;
}

.email-list th:nth-child(2), .email-list td:nth-child(2) {
    width: 20%;
}

.email-list th:nth-child(3), .email-list td:nth-child(3) {
    width: 25%;
}

.email-list th:nth-child(4), .email-list td:nth-child(4) {
    width: 30%;
}

.email-list th:nth-child(5), .email-list td:nth-child(5) {
    width: 9%;
}

.email-list th:nth-child(6), .email-list td:nth-child(6) {
    width: 6%;
}

th{
    align-items: center;

}
.email-item {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.email-items td {
    font-size: 14px;
    padding: 11px;
    border-bottom: 1px solid #ccc; 
}

.sent-items td {
    font-size: 15px;
    padding: 15px;
    border-bottom: 1px solid #ccc; 
}

.declined-docs td{
    font-size: 14px;
    padding: 11px;
    border-bottom: 1px solid #ccc; 
}
.requested-declined-docs td {
    font-size: 15px;
    padding: 15px;
    border-bottom: 1px solid #ccc; 
}

.forwarded-item td{
    font-size: 14px;
    padding: 5px;
    border-bottom: 1px solid #ccc; 
}

.requested-docs td{
    width: 100%;
    table-layout: fixed;  
    border-collapse: collapse;
}
.requested-docs th, .requested-docs  td {
    padding: 10px;
    text-align: left;
}
.requested-docs th {
    font-weight: bold;
    background-color: transparent;
    font-size: 14px;
    border: none;
}

.subject-text {
    text-align: left;
    display: inline-block; 
    width: 100%; 
}

.requested-docs td.subject {
    text-align: left; 
}


.request-purpose {
    display: inline-block;
    margin-left: 8px;
    font-size: 15px;
}

.email-item:hover {
    background-color: #f5f5f5;
}
.email-items:hover {
    background-color: #f5f5f5;
}
.declined-docs:hover {
    background-color: #f5f5f5;
}
.checkbox {
    margin-right: 10px;
}
.star {
    margin-right: 10px;
    color: #f5c518;
}
.sender {
    margin-right: 70px;
}

.receiver {
    margin-right: 70px;
}

.subject {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.subject-text {
    margin-right: 5px;
}

.document-name {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.bold-row {
    font-weight: bold;
}

.date {
    margin-left: 10px;
    white-space: nowrap;
}

.email-actions {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.email-actions i {
    margin: 0 5px;
    cursor: pointer;
}
main {
    flex-grow: 1;
    padding: 20px;
    transition: margin-left 0.3s ease, padding-left 0.3s ease;
}
#main-content {
    flex: 1;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
    box-sizing: border-box;
    height: 100vh;
}
.reports-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.report {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 48%;
    text-align: center;
}
.report h1 {
    font-size: 40px;
    color: #009FEA;
    margin-bottom: 10px;
}
.report h4 {
    font-size: 16px;
    color: #333;
}
#dashboard-section {
    margin-top: 40px;
}
.dashboard-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dashboard-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.dashboard-title h2 {
    font-size: 24px;
    color: #009FEA;
}


.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.title-content h3 {
    font-size: 20px;
    color: #fd7e14;
    margin: 0;
    padding-left: 20px;
}

.date-time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: #fd7e14;
    text-align: right;
    padding-right: 20px;
}

.date-time i{
    justify-content: space-between;
    margin-right: 10px;
}

.date-time p {
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Modal */
.custom-actions-position {
    justify-content: flex-end; 
    margin-right: 10px; 
    position: absolute; 
    bottom: 10px; 
    width: calc(100% - 20px); 
}

.custom-confirm-button {
    background-color: #007bff; 
    color: white;
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
}

.custom-confirm-button:hover {
    background-color: #0056b3; 
}

.custom-cancel-button {
    background-color: #888 !important; 
    color: white !important; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.custom-cancel-button:hover {
    background-color: #888 !important; 
 background-color: #0056b3; 

}
.swal-wide {
    width: 100% !important; 
    max-width: none !important; 
}

.swal-html-container {
    max-height: 75vh; 
    overflow-y: auto;
    text-align: left; 
}

.custom-modal-dimensions {
    width: 80%; 
    max-width: 650px; 
    height: 450px; 
}

.swal2-html-container {
    max-height: 1200px; 
    overflow-y: auto;   
}



/* Pagination */

.custom-pagination nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.custom-pagination ul.pagination {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.custom-pagination ul.pagination li {
    margin: 0 5px;
}

.custom-pagination ul.pagination li a,
.custom-pagination ul.pagination li span {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    transition: all 0.3s;
}

.custom-pagination ul.pagination li a:hover {
    background-color: #007bff;
    color: #fff;
}

.custom-pagination ul.pagination li.active span {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
    pointer-events: none;
}

.custom-pagination ul.pagination li.disabled span {
    color: #ccc;
    pointer-events: none;
}



/*  */


/* Pagination Container */
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Pagination Links */
.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Individual Page Links */
.pagination li {
    margin: 0 5px;
}

/* Default Link Style */
.pagination li a {
    color: #007bff;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

/* Hover and Active State */
.pagination li a:hover,
.pagination li a:focus,
.pagination li.active a {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

/* Disabled Page Link */
.pagination li.disabled a {
    color: #ccc;
    cursor: not-allowed;
    border-color: #ccc;
}

/* First and Last Page Links */
.pagination li:first-child a {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.pagination li:last-child a {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}


