@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container {
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 10px;
  max-width: 1400px;
  height: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem 0rem 0rem;
 
} 

.register-container button[type="submit"] {
  background-color: #009FEA;
  font-size: 0.9rem;
  color: #fff;
  padding: 9px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  width: 10rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  margin-top: 3rem;
  display: block;
}

.registerForm{
  height: 925px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.bg-blue-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(0 159 234 / var(--tw-bg-opacity));
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 925px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.form-container {
  width: 100%;
  padding: 20px;
  display: flex;
  margin-top: 0.5rem;
  /* margin-top: 3rem; */
  flex-direction: column;
  justify-content: flex-start;
}
.password-container {
  position: relative;
}

.input-container {
  position: relative;
}

.password{
  position:relative;
}

.register-show-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer
}

.show-password:hover {
  color: #666;
}

#eye-icon {
  margin-top: 5px;
  font-size: 18px;
}

form h1 {
  margin-bottom: 20px;
}

/* Center the "Already registered?" link */
.register-container .flex.items-center.justify-end.mt-4 {
  display: flex;
  justify-content: center;
}

