main {
    flex-grow: 1;
    padding: 20px;
    transition: margin-left 0.3s ease, padding-left 0.3s ease;
}
#dashboard-content {
    flex: 1;
    margin-left: 50px;
    transition: margin-left 0.3s ease;
    box-sizing: border-box;
    height: 100vh;
}

#dashboard-section {
    height: 100vh;
    width: auto;
    margin-top: 40px;
}
.dashboard-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dashboard-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.dashboard-title h2 {
    font-size: 24px;
    color: #009FEA;
}


.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.title-content h3 {
    font-size: 20px;
    color: #F47122;
    margin: 0;
    padding-left: 20px;
}

.date-time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: #F47122;
    text-align: right;
    padding-right: 20px;
}

.date-time i{
    justify-content: space-between;
    margin-right: 10px;
}

.date-time p {
    justify-content: center;
    align-items: center;
    margin: 0;
}

.Approved {
    color: green ;
}
.Pending {
    color: #F47122;
}

.Declined{
    color:#e74c3c;
}

.swal-decline-btn {
    background-color: #f94449 !important;
    color: white !important;
    border: none !important;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 14px;
}

.swal-decline-btn:hover {
    background-color: #c82333 !important;
}

.swal-cancel-btn {
    background-color: gray !important;
    color: white !important;
    border: none !important;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 14px;
}

.swal-cancel-btn:hover {
    background-color: darkgray !important;
}

.action-buttons {
    display: flex;
    gap: 10px;
    padding: 20px;
}
.action-buttons i {
    cursor: pointer;
    font-size: 1.2em;
}

/* Overlay */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

/* Popup Form */
.popup-form {
    display: none;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 20;
}

.popup-form h2 {
    margin-bottom: 15px;
    color: #F47122;
}

.popup-form .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.popup-form .form-group {
    flex: 1;
    margin-right: 10px;
}

.popup-form .form-group:last-child {
    margin-right: 0;
}

.popup-form .form-group label {
    display: block;
    margin-bottom: 2px;
    font-size: 15px;
}

.popup-form .form-group input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.popup-form .form-buttons {
    display: flex;
    justify-content: flex-end;
}

.popup-form .form-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.popup-form .form-buttons button#cancel-btn {
    background: #f44336;
    color: white;
    font-family: 'Poppins';
}

.popup-form .form-buttons button#send-document-btn {
    background: #F47122;
    color: white;
    font-family: 'Poppins';
}