.verify-email-container {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .verify-email-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .verify-email-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .verify-email-message {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .verify-email-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .verify-email-button {
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  .verify-email-button--primary {
    background-color: #009FEA;
    color: #fff;
  }
  
  button[type="submit"]:hover {
    background-color: #1845A2;
    opacity: 0.9;
  }
  
  .verify-email-button--secondary {
    background-color: #ccc;
    color: #333;
  }

  .emailconfirmed-button{
    background-color: #009FEA;
    color: #fff;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }

  .emailconfirmed-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
  }