main {
    flex-grow: 1;
    padding: 20px;
    transition: margin-left 0.3s ease, padding-left 0.3s ease;
}
#dashboard-content {
    flex: 1;
    margin-left: 50px;
    transition: margin-left 0.3s ease;
    box-sizing: border-box;
    height: 100vh;
}

.dashboard-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.dashboard-title h2 {
    font-size: 24px;
    color: #009FEA;
}


.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.title-content h3 {
    font-size: 20px;
    color: #F47122;
    margin: 0;
    padding-left: 20px;
}

.date-time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: #F47122;
    text-align: right;
    padding-right: 20px;
}

.date-time i{
    justify-content: space-between;
    margin-right: 10px;
}

.date-time p {
    justify-content: center;
    align-items: center;
    margin: 0;
}

#dashboard-section {
    height: 100vh;
    width: auto;
    margin-top: 40px;
}

.dashboard-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left-container {
    flex: 1;
    max-width: 47%; 
    height: 60%; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left-container img {
    width: 80%;
    height: 80%;
    object-fit: cover; 
    border-radius: 10px;
}

.right-container {
    flex: 1;
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: start; 
    padding-left: 20px; 
}

/* Success Prompt */
.custom-alert {
    width: 65%;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 15px;
    border-radius: 5px;
    position: relative;
}

.custom-alert .close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #155724;
    cursor: pointer;
}


form {
    width: 100%;
    max-width: 500px;
}

.form-group {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: left; /* Ensure the text is aligned to the left */
}

.form-group label {
    font-weight: bold;
    color: #009FEA;
}

.form-control {
    font-family: 'Poppins';
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button-cont{
    justify-content: right;
    width: 100%;
    align-items: center;
    margin-top: 240px;
    text-align: right;

}
.btn-primary {
    width: 100%; 
    padding: 10px;
    font-family: 'Poppins';
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* align-self: flex-end;  */
}

.btn-primary:hover {
    background-color: #0056b3;
}