main {
    flex-grow: 1;
    padding: 20px;
    margin-left: 50px;
    transition: margin-left 0.3s ease, padding-left 0.3s ease;
}
#main-content {
    flex: 1;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
    box-sizing: border-box;
    height: 100vh;
}

.email-list {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}
.email-item {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.email-item:hover {
    background-color: #f5f5f5;
}
.checkbox {
    margin-right: 10px;
}
.star {
    margin-right: 10px;
    color: #f5c518;
}
.sender {
    font-weight: bold;
    margin-right: 70px;
}
.subject {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.subject-text {
    margin-right: 5px;
}
.date {
    margin-left: 10px;
    white-space: nowrap;
}
.email-actions {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.email-actions i {
    margin: 0 5px;
    cursor: pointer;
}

.email-item.delivered .sender,
.email-item.delivered .subject-text {
    font-weight: bold;
}

main {
    flex-grow: 1;
    padding: 20px;
    transition: margin-left 0.3s ease, padding-left 0.3s ease;
}
#main-content {
    flex: 1;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
    box-sizing: border-box;
    height: 100vh;
}
.reports-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.report {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 48%;
    text-align: center;
}
.report h1 {
    font-size: 40px;
    color: #009FEA;
    margin-bottom: 10px;
}
.report h4 {
    font-size: 16px;
    color: #333;
}
#dashboard-section {
    margin-top: 40px;
}
.dashboard-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dashboard-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.dashboard-title h2 {
    font-size: 24px;
    color: #009FEA;
}


.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.title-content h3 {
    font-size: 20px;
    color: #fd7e14;
    margin: 0;
    padding-left: 20px;
}

.date-time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: #fd7e14;
    text-align: right;
    padding-right: 20px;
}

.date-time i{
    justify-content: space-between;
    margin-right: 10px;
}

.date-time p {
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* notification */
/* 
.email-item {
    font-weight: normal; 
}

.email-item.delivered {
    font-weight: bold; 
} */
